<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.iposprinter.iposprinterservice">
  <application>
  <receiver android:name="com.iposprinter.iposprinterservice.PrinterReceiver" android:enabled="true">
      <intent-filter android:priority="1000">

        <action android:name="com.iposprinter.iposprinterservice.PAPERLESS_ACTION" />
        <action android:name="com.iposprinter.iposprinterservice.NORMAL_ACTION" />
        <action android:name="com.iposprinter.iposprinterservice.PAPEREXISTS_ACTION" />
        <action android:name="com.iposprinter.iposprinterservice.THP_HIGHTEMP_ACTION" />
        <action android:name="com.iposprinter.iposprinterservice.THP_NORMALTEMP_ACTION" />
        <action android:name="com.iposprinter.iposprinterservice.MOTOR_HIGHTEMP_ACTION" />
        <action android:name="com.iposprinter.iposprinterservice.BUSY_ACTION" />
        <action android:name="com.iposprinter.iposprinterservice.CURRENT_TASK_PRINT_COMPLETE_ACTION" />

      </intent-filter>  
  </receiver>
  </application>
</manifest>